/* Header.jsx styles */
.navbar {
    background-color: #343a40; /* Dark background color for the Navbar */
    font-family: Arial, sans-serif; /* Change the font family for the Navbar text */
  }
  
  .navbar-brand {
    font-size: 28px; /* Increase the font size for the brand text */
    font-weight: bold; /* Make the brand text bold */
    color: #fff; /* Text color for the brand */
  }
  
  .nav-link {
    font-size: 18px; /* Increase the font size for the navigation links */
    color: #fff;
    margin-right: 20px; /* Text color for the navigation links */
  }

  .nav-link:last-child {
    margin-right: 0;
  }
  
  .nav-link:hover {
    text-decoration: none; /* Remove underline on hover */
  }
  
  .navbar-text {
    font-size: 24px; /* Increase the font size for the profile icon */
    color: #fff; /* Text color for the profile icon */
    margin-right: 20px; /* Add some right margin */
  }
  
  .btn {
    font-size: 18px; /* Increase the font size for the button */
    background-color: #dc3545; /* Button background color */
    border: none; /* Remove button border */
    margin-left: 10px; /* Add left margin to the button */
  }
  
  .btn:hover {
    background-color: #c82333; /* Button background color on hover */
  }
  