.sidebar {
    background-color: #f6f8fc;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 12%;
    /* margin: 10px; */
    height: 92.1vh;
  }
  .sButton {
    padding: 1rem;
    width: 100px;
    margin-bottom: 1rem;
  }